# These files don't get pushed to GitHub
credentials.json
token.json
experimentation
work_study
research_files
bumblebee_app
database
notes.org
config.yaml
__pycache__
*~
*#
**#
*.pyc
.DS_Store
models/*.pth
intents*.json
routines
crash_recovery.p
bumblebee_token
logging.*
*.env