# Do not push these files
credentials.json
token.json
experimentation
work_study
research_files
bumblebee_app
database
notes.org
config.yaml
__pycache__
*~
*#
**#
*.pyc
.DS_Store
models/*.pth
intents*.json
