SpeechRecognition
wikipedia
gtts
selenium
playsound
wolframalpha
pyobjc
pyaudio
pyttsx3
ezgmail
pydub
precise-runner
pvporcupine
flask
py-imessage
colorlog
TinyDB
pyperclip
mdutils
beautifulsoup4
validators
colorama
torch
torchvision
torchaudio
nltk
pyinstaller
pyyaml
